{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/trip-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>PAST TRIPS</h1> 
  <img src="{% static 'images/track-icon.png' %}" alt="Track Riding Icon" />
  <img src="{% static 'images/street-icon.png' %}" alt="Street Riding Icon" /> 
  <img src="{% static 'images/offroad-icon.png' %}" alt="Offroad Riding Icon" /> 
</section>

<section class="card-container">
  {% for trip in trips %}
    <div class="card">
      <a href="{% url 'trips_detail' trip.id %}">
        <div class="card-content">
          <div class="card-img-container">
          {% comment %} for each statement for choices {% endcomment %}
          </div>
          <h2 class="card-title">{{ trip.name }}</h2>
            <p>TRIP DISTANCE: {{ trip.distance }} kmh</p>
            <p> {{ trip.description }} </p>
          <p><small>TOP SPEED: {{ trip.topspeed }} kmh</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}