{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/trip-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>trip List</h1>
  {% comment %} <img src="{% static 'images/street-icon.png' %}" alt="Street Riding Icon" />
  <img src="{% static 'images/track-icon.png' %}" alt="Track Riding Icon" />
  <img src="{% static 'images/offroad-icon.png' %}" alt="Offroad Riding Icon" /> {% endcomment %}
</section>

<section class="card-container">
  {% for trip in trips %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          {% comment %} <img 
            src="{% static 'images/street-icon.png' %}" alt="Street Riding Icon"
          > {% endcomment %}
        </div>
        <h2 class="card-title">{{ trip.name }}</h2>
        {% if trip.distance > 0 %}
          <p>TRIP DISTANCE: {{ trip.distance }} km  {{ trip.breed }}</p>
          <p> {{ trip.description }} </p>
        {% endif %}
        <p><small>TOP SPEED:{{ trip.topspeed }} kmh</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}