{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/trip-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>PAST TRIPS</h1> 
  <img src="{% static 'images/track-icon.png' %}" alt="Track Riding Icon" />
  <img src="{% static 'images/street-icon.png' %}" alt="Street Riding Icon" /> 
  <img src="{% static 'images/offroad-icon.png' %}" alt="Offroad Riding Icon" /> 
</section>

<section class="card-container">
  {% for trip in trips %}
    <div class="card">
      <a href="{% url 'trips_detail' trip.id %}">
        <div class="card-content">
          <div class="card-img-container">
          {% if trip.type == 'Street'%}
            <img class=usr-img src="{% static 'images/street-icon.png' %}" alt="Street Riding Icon" /> 
          {% elif trip.type == 'Offroad' %}
            <img class=usr-img src="{% static 'images/offroad-icon.png' %}" alt="Offroad Riding Icon" />
          {% else %}
            <img class=usr-img src="{% static 'images/track-icon.png' %}" alt="Track Riding Icon" />
          {% endif %}
          </div>
          <h2 class="card-title">{{ trip.name }}</h2>
          <h3>{{ trip.type }}</h3>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}