{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClutchUp!</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
  <h1>About ClutchUp</h1>
  <p>
    There are few joys in life that compare to the thrill of riding a motorcycle, there are even fewer hobbyist that are more obsessed than motorcycle riders. In fact, for just about every possible type of motorcycle product you could imagine, there's probably something for it.
    
    Amongst all these different products, we haven't found an app that allows you to meaningfully track your rides in something of a 'diary' format. This app is meant to fill that gap. Allowing you to track your rides by adding details like a description, distance and top speed.
  </p>
    <img src="{% static 'images/clutch-up-logo.png' %}" alt="Clutch Up Logo" />
</body>
</html>

{% endblock %}