{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}


<section class="logo-container">
  <div class="trip-container">
    <img src="{% static 'images/clutch-up-logo.png' %}" alt="Clutch-Up Logo" />
  </div>
</section>
{% if not user.is_authenticated %}
<section>
<h1>Clutch Up!</h1>
  <form action="{% url 'home' %}" method="post" class="login">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
  <h3>Don't have an account?</h3>
  <a href="{% url 'signup' %}">SIGN UP!</a>

</section>
{% endif %}

{% endblock %}