.trip-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trip-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.trip-details {
  width: 98%;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trip-actions {
  margin-top: 20px;
}

.trip-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.trip-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.trip-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}
